name: Testing
on: push
jobs:
  build-front-end:
    name: Build Frontend Container
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - run: "echo ${{github.actor}} Started This Process"
      - run: "ls ${{github.workspace}}"
      - run: "cd frontend"
      - run: "ls"
