name: Testing
on: push
jobs:
  check-code:
    name: Check Code Quality
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: trufflesecurity/trufflehog@main
  build-front-end:
    name: Build Frontend Container
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - run: "docker build -t frontend:${{github.sha}} frontend"
  build-back-end:
    name: Build Backend Container
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - run: "docker build -t backend:${{github.sha}} backend"
