name: Testing
on: push
jobs:
  check-code:
    name: Check Code Quality
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: trufflesecurity/trufflehog@main
  build-docker-images:
    name: Build Docker Images
    runs-on: ubuntu-latest
    needs: check-code
    steps:
      - uses: actions/checkout@v5
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push Frontend
        uses: docker/build-push-action@v6
        with:
          context: frontend
          push: true
          tags: jnaeder324/small-frontend
          build-args: |
            VITE_BACKEND_URL=""
      - name: Build and push backend
        uses: docker/build-push-action@v6
        with:
          context: backend
          push: true
          tags: jnaeder324/small-backend
  setup-terraform:
    name: Setup Terraform
    needs: build-docker-images
    runs-on: ubuntu-latest
    outputs:
      public_ip: ${{steps.main.outputs.public_ip}}
    env:
      TF_VAR_digitalocean_ssh_public_key: ${{secrets.TF_VAR_DIGITALOCEAN_SSH_PUBLIC_KEY}}
      TF_VAR_digitalocean_api_key: ${{secrets.TV_VAR_DIGITALOCEAN_API_KEY}}
      TF_VAR_digitalocean_domain_name: ${{vars.TF_VAR_DIGITALOCEAN_DOMAIN_NAME}}
    steps:
      - name: Get Repo Code
        uses: actions/checkout@v5
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          cli_config_credentials_token: ${{secrets.TF_API_TOKEN}}
      - id: main
        run: |
          cd terraform
          terraform init
          terraform apply -auto-approve
          terraform output -raw public_ip
          ip=$(terraform output -raw public_ip)
          echo "public_ip=$ip" >> "$GITHUB_OUTPUT"
  run-server:
    name: Run Server
    needs: setup-terraform
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: appleboy/scp-action@v1
        with:
          host: ${{needs.setup-terraform.outputs.public_ip}}
          username: "root"
          key: ${{secrets.DIGITAL_OCEAN_SSH_PRIVATE_KEY}}
          source: "setup-docker.sh, docker-compose.yml"
          target: "/root"
      - uses: appleboy/ssh-action@v1
        with:
          host: ${{needs.setup-terraform.outputs.public_ip}}
          username: "root"
          key: ${{secrets.DIGITAL_OCEAN_SSH_PRIVATE_KEY}}
          script: |
            chmod u+x setup-docker.sh
            ./setup-docker.sh
