name: Testing
on: push
jobs:
  check-code:
    name: Check Code Quality
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: trufflesecurity/trufflehog@main
  build-front-end:
    name: Build Containers
    runs-on: ubuntu-latest
    steps:
      - run: echo ${{secrets.DIGITALOCEAN_ACCESS_TOKEN}}
      - name: Get Repo Code
        uses: actions/checkout@v5
      - name: Sign Into Digital Ocean CLI
        uses: digitalocean/action-doctl@v2
        with:
          token: ${{secrets.DIGITALOCEAN_ACCESS_TOKEN}}
      - name: Build and Push Frontend Image
        run: |
          docker build -t frontend:${{github.sha}} frontend
      - name: Build and Push Backend Image
        run: |
          docker build -t backend:${{github.sha}} backend
