name: Testing
on: push
jobs:
  check-code:
    name: Check Code Quality
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: trufflesecurity/trufflehog@main
  setup-terraform:
    name: Setup Terraform
    needs: check-code
    runs-on: ubuntu-latest
    outputs:
      public_ip: ${{steps.main.outputs.public_ip}}
    env:
      TF_VAR_digitalocean_ssh_public_key: ${{secrets.TF_VAR_DIGITALOCEAN_SSH_PUBLIC_KEY}}
      TF_VAR_digitalocean_api_key: ${{secrets.TV_VAR_DIGITALOCEAN_API_KEY}}
    steps:
      - name: Get Repo Code
        uses: actions/checkout@v5
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          cli_config_credentials_token: ${{secrets.TF_API_TOKEN}}
      - id: main
        run: |
          cd terraform
          terraform init
          terraform apply -auto-approve
          terraform output -raw public_ip
          ip=$(terraform output -raw public_ip)
          echo "public_ip=$ip" >> "$GITHUB_OUTPUT"
  run-server:
    name: Run Server
    needs: setup-terraform
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: appleboy/scp-action@v1
        with:
          host: ${{needs.setup-terraform.outputs.public_ip}}
          username: "root"
          key: ${{secrets.DIGITAL_OCEAN_SSH_PRIVATE_KEY}}
          source: "setup-docker.sh, docker-compose.yml"
          target: "/root"
      - uses: appleboy/ssh-action@v1
        with:
          host: ${{needs.setup-terraform.outputs.public_ip}}
          username: "root"
          key: ${{secrets.DIGITAL_OCEAN_SSH_PRIVATE_KEY}}
          script: |
            chmod u+x setup-docker.sh
            ./setup-docker.sh
