name: Testing
on: push
jobs:
  check-code:
    name: Check Code Quality
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: trufflesecurity/trufflehog@main
  build-front-end:
    name: Build Containers
    runs-on: ubuntu-latest
    steps:
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
      - uses: actions/checkout@v5
      - name: Build and Push Frontend Image
        run: |
          docker build -t frontend:${{github.sha}} frontend
          docker push
