name: Testing
on: push
jobs:
  check-code:
    name: Check Code Quality
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: trufflesecurity/trufflehog@main
  build-front-end:
    name: Build Containers
    runs-on: ubuntu-latest
    env:
      TF_VAR_digitalocean_ssh_public_key: ${{secrets.TF_VAR_DIGITALOCEAN_SSH_PUBLIC_KEY}}
      TF_VAR_digitalocean_api_key: ${{secrets.TV_VAR_DIGITALOCEAN_API_KEY}}
    steps:
      - name: Get Repo Code
        uses: actions/checkout@v5
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          cli_config_credentials_token: ${{secrets.TF_API_TOKEN}}
      - run: |
          cd terraform
          terraform init
          terraform plan
