name: Testing
on: push
jobs:
  check-code:
    name: Check Code Quality
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: trufflesecurity/trufflehog@main
  build-front-end:
    name: Build Containers
    runs-on: ubuntu-latest
    steps:
      - name: Get Repo Code
        uses: actions/checkout@v5
